<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.kiyohara.alfred-workflow-boilerplate</string>
	<key>connections</key>
	<dict>
		<key>17FB2BD6-17D2-4E1F-B91A-615F7D3E184B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D613F52C-E665-4A55-A800-333E6848A9C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7C7BFCA4-6D46-413A-A6D7-1B81D1AB6D45</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1215AE2-67EA-45B8-909D-561549068302</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26F74EF8-B664-4344-8BEC-3AA701EEFC86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6525186-6F87-4200-B7FE-E2AA6B2684BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>17FB2BD6-17D2-4E1F-B91A-615F7D3E184B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49B77C04-AA5E-4FC4-A005-F60F7827F8AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49B77C04-AA5E-4FC4-A005-F60F7827F8AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>044FE127-BA33-4D97-88C5-DCBB08A87A92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7C7BFCA4-6D46-413A-A6D7-1B81D1AB6D45</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9296971C-C20F-4150-9B50-B24C29548AD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E142B6CA-0C7C-4970-B2F3-6E90410F75F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E142B6CA-0C7C-4970-B2F3-6E90410F75F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F37FE226-47E8-4119-A935-422A1A8E775A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F37FE226-47E8-4119-A935-422A1A8E775A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26F74EF8-B664-4344-8BEC-3AA701EEFC86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kiyohara</string>
	<key>description</key>
	<string>Alfred workflow boilerplate</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred workflow boilerplate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./execute.zsh {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F37FE226-47E8-4119-A935-422A1A8E775A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:result2}</string>
				<key>title</key>
				<string>AWB : {var:action1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E6525186-6F87-4200-B7FE-E2AA6B2684BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>boilerplate</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./arguments.zsh {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Alfred workflow boilerplate</string>
				<key>title</key>
				<string>boilerplate</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9296971C-C20F-4150-9B50-B24C29548AD1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>action</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>E142B6CA-0C7C-4970-B2F3-6E90410F75F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>::</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>result</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>26F74EF8-B664-4344-8BEC-3AA701EEFC86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>D613F52C-E665-4A55-A800-333E6848A9C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:result1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^ERROR$</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7C7BFCA4-6D46-413A-A6D7-1B81D1AB6D45</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>17FB2BD6-17D2-4E1F-B91A-615F7D3E184B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>reverse high.aif</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>A1215AE2-67EA-45B8-909D-561549068302</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:result3}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>044FE127-BA33-4D97-88C5-DCBB08A87A92</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:result2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^logfile$</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7C7BFCA4-6D46-413A-A6D7-1B81D1AB6D45</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>49B77C04-AA5E-4FC4-A005-F60F7827F8AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>044FE127-BA33-4D97-88C5-DCBB08A87A92</key>
		<dict>
			<key>note</key>
			<string>{var:result2} が "logfile" の場合に
{var:result3} をファイル名としてオープンする</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>17FB2BD6-17D2-4E1F-B91A-615F7D3E184B</key>
		<dict>
			<key>note</key>
			<string>{var:result1} の結果で分岐</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>26F74EF8-B664-4344-8BEC-3AA701EEFC86</key>
		<dict>
			<key>note</key>
			<string>後のフローで利用するために実行結果の文字列をパースする
{query} を :: で split して {var:resultN} に格納する

{var:result1} は SUCCESS か ERROR を期待している</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>49B77C04-AA5E-4FC4-A005-F60F7827F8AC</key>
		<dict>
			<key>note</key>
			<string>{var:result2} が "logfile" の場合のみ特定の処理を走らせる
（then のみで else は定義されていない）</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>9296971C-C20F-4150-9B50-B24C29548AD1</key>
		<dict>
			<key>note</key>
			<string>引数候補をリスティング &amp; 入力をフィルタするためのスクリプト
STDIN に応じて候補リストを JSON として STDOUT に出力する</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A1215AE2-67EA-45B8-909D-561549068302</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>D613F52C-E665-4A55-A800-333E6848A9C2</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>E142B6CA-0C7C-4970-B2F3-6E90410F75F0</key>
		<dict>
			<key>note</key>
			<string>後のフローで利用するために action 名を抽出する
{query} をスペースで split して {var:actionN} に格納する
実質 {var:action1} しか利用しない</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E6525186-6F87-4200-B7FE-E2AA6B2684BB</key>
		<dict>
			<key>note</key>
			<string>{var:result1} を通知として表示する</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F37FE226-47E8-4119-A935-422A1A8E775A</key>
		<dict>
			<key>note</key>
			<string>引数に応じてコマンド実行を処理するスクリプト
ワークフローの処理分岐用に output をおこなう wrapper を含む</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/kiyohara/alfred-workflow-boilerplate</string>
</dict>
</plist>
